services:

  db:
    extends:
      file: docker-compose.yml
      service: db

  flyway:
    image: flyway/flyway:10
    command: -url=jdbc:postgresql://db:5432/${POSTGRES_DB:-museum_attendance} -user=${POSTGRES_USER:-IL_USER} -password=${POSTGRES_PASSWORD:-postgres} -connectRetries=60 migrate
    volumes:
      - ./sql:/flyway/sql
    depends_on:
      db:
        condition: service_healthy
volumes:
  db_data: